.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9; /* Светлый фон */
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); /* Мягкая тень */
  width: 100%;
  max-width: 400px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #ccc;
  font-weight: 500;
  transition: 0.3s;
}

.tab.active {
  color: #000;
  border-bottom: 2px solid #000; /* Черная полоска под активной вкладкой */
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #000;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.footer-text span {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}